* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: grid;
    place-items: center;
    height: 100vh;
}

main {
    width: 375px;
    font-family: Roboto;
    border: 1px solid black;
}

#mainSect {
    padding: 1rem;
}

#illustration {
    content: url("/assets/images/illustration-sign-up-mobile.svg");
}

#heading {
    font-size: 2.7rem;
    font-weight: 700;
    margin: 1rem 0;
}

#description {
    padding-bottom: 1rem;
}

#pointsList {
    padding: 1rem;
    list-style-image: url("/assets/images/icon-list.svg");
}

.points {
    margin-left: 1.5rem;
}

#emailLabel {
    font-size: 0.8rem;
    font-weight: 700;
    margin-top: 1rem;
    margin-bottom: 0.3rem;
    display: block;
}

#email {
    width: 100%;
    padding: 1rem;
    border: 1px solid grey;
    border-radius: 10px;
    font-size: 1.1rem;
}

#submit {
    background-color: hsl(235, 18%, 26%);
    color: white;
    padding: 1.2rem;
    width: 100%;
    font-weight: 700;
    border-radius: 10px;
    margin: 1.5rem 0;
    font-size: 1.1rem;
}